<%= link_to "test", "#", id: 'test-id'%>
<%= :class => 'row' %>
<li id = 'peace' class = 'give'>forget you</li>

<h1>some randome string</h1>
hello i am an unmarked group of text


<a href = "http://something">some random link</a>
i am another unmarked group of text
that gets really long winded. Like the family member
that is a depressant and pulls you aside at thanksgiving to talk to you about a set of 
memories that quite frankly dont mean anything to you
