<%= link_to "test", "#", id: 'test-id'%>
<%= :class => 'row' %>
<li id = 'peace' class = 'give'>forget you</li>

<h1>some randome string</h1>
hello i am an unmarked group of text


<a href = "http://something">some random link</a>
