// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Sass variables
$dark_title: #CAD0D5;

$left_shadow: -1px -1px 3px 1px $dark_title; 
$light_shadow: 1px 1px 1px 1px $dark_title;
@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

#white_top {padding-bottom: 20px;}

//playlist index
#my_playlists_title{padding-right:10px;}

#collab_playlists_title{ color:#CAD0D5;}

//heading

#publish_value {width: 50px;
 								height: 20px;
}

.glyphicon{top:0px;}

#footer{-webkit-box-shadow: 0 5px 0 #888; }

/*carousel*/

#carousel_pad{padding:0 0 0 0;
}
#heavy_rotation {width: 812px;
                 display: inline;
}
#carousel_image{height:50px;}
img#carousel_image:hover{transform:scale(2,2); 
                         -webkit-transform: scale(2,2);
                        transition-duration: 2s;
}

/*search results*/

#track_result_wrapper {border-top: solid 1px #efefef;
                       padding-bottom: 30px;
                       width: 100%;
                       height: 250px;
}

#search_image_wrapper {left: 0;
                       top: 0;
                       padding: 0 10px 5px 0;
}

#search_track_image{ @include box-shadow($light_shadow);}

#search_track_image:hover{opacity: 0.4; 

}

#track_result_name {font-size: 16px;
                    color: darken($dark_title, 30%);
}

a#track_result_name:hover {color: $dark_title;} 

#album_result_name {font-size: 14px;
                   color: $dark_title;
}

a#album_result_name:hover {color: darken($dark_title, 30%);}

#artist_result_name {font-size: 14px;
                     color: $dark_title;
                     padding-bottom: 5px;
}

a#artist_result_name:hover {color: darken($dark_title, 30%);}



#add_track{padding-left: 30px;}

#album_inline_wrapper {float: left;
                       padding: 30px 0 10px 0;
                       border-bottom: solid 1px #efefef;
                       }

#search_description{color: darken($dark_title, 30%);
                    padding-top:20px;
}

#artist_query_input{width: 50%;}


#add_track{padding-left: 30px;
           float: right;
}

#add_bar{height: 50px;
         width: 40px;
         background-color:white;
        @include box-shadow($light_shadow);
         text-align: center;
         padding-top:16px;
         font-size: 20px;
         border-radius:2px;
         border-top: 1px solid #efefef;
         border-left: 1px solid #efefef;
}

#add_bar:hover{color:black;}

#add_bar_tracks{height: 30px;
                width: 20px;
                background-color:white;
                @include box-shadow($light_shadow);
                text-align: center;
                padding-top:9px;
                font-size: 10px;
                border-radius:2px;
                border-left: 1px solid #efefef;
                border-right: 1px solid #efefef;
}

#add_bar_tracks:hover{color:black;}

#artist_options {border-top: 1px solid #efefef;
                 padding: 10px 0 10px 0;
}  

#radio_hover:hover{background-color:#efefef;}

#add_to_collection {text-align: center;}

#title_and_add{padding-bottom:5px;
}

#artist_name{padding-top:3%; }

#album_name{padding-top:3px;}

#album_and_tracks{padding: 0 0 20px 0 ;}

//playlist
#playlist_play_glyph{display: inline;}
#pl_add_gr{display: inline;}
#pl_remove{display: inline;
           padding-left: 14px;
}


#pl_header_wrapper { padding-bottom: 30px;
                     height: 70px;
                     width: 100%;
                     border-bottom: 2px solid $dark_title;
                 }
#pl_main_name {font-size: 30px;
               color: $dark_title;
}
#pl_owner {color: $dark_title;}
#vote {padding-left: 20px;}

#delete_track{font-size: 30px;
            }


/*modal*/

#album_cover{width: 100%;}

#friends_list_title {float: left;}

#playlist_name {float: left;}

/* playlists new form*/

#popular_title{padding-bottom:40px;}

#playlist_new_panel{padding:5%;}

#playlist_names_carousel{padding-top: 40px;}

textarea#description {width: 100%;}

input#name {width: 100%;}

#new_playlist_btn {width: 100%;}

.new_playlist_btn {padding-top: 10px;}

h4#track_name{float: left;
							padding-right: 2%;
}


#new_playlist_name{float:left;
}

#vote_count{text-align:right;}

h2#new_playlist_name {;
 									
}

h4#new_playlist_description {text-align: center}

//my_playlist
#my_pl_wrapper { border-left: 1px solid #efefef;
                 @include box-shadow($left_shadow);
                 padding: 2%;
}
#my_playlist {padding-top: 30px;}
#pl_play_glyph{padding-right: 20px;
               color: darken($dark_title, 30%);
}
#pl_play_glyph:hover{color: $dark_title;}
#bullhorn_publish {display: inline;
                   padding-right: 20px;
}


#playlist_title_box{width:100%;
                    border-bottom: 3px solid #efefef;
                    border-left: none;
                    border-right: none;
                    border-top: none;
}


/*jukebox swf object player*/

#fade_sound{opacity: 0.3;}
#fade_sound2{opacity: 0.4;}
#fade_sound3{opacity: 0.5;}
#playlist_header {padding-bottom: 30px;}
#equalizer{width:0;
           height:50px;
           padding: 55px 0 0 0;
}



div#freq{-webkit-transform:rotate(180deg);
         width: 550px;
         height:0px;
         position: absolute;
        
}
div#sound{background-color: lighten($dark_title, 18%);
          float: left;
          width:20px;
          border-right: 1px solid lighten($dark_title, 20%);
          border-top: 1px solid lighten($dark_title, 30%);

}

div#freq2{-webkit-transform:rotate(180deg);
          width: 550px;
          height: 50px;
          opacity: 0.3;
          position: absolute;
          opacity: 0.1;

}
div#sound2{background-color: #a3b3cc;
           float:left;
           width:20px;
           border-right: 1px solid #667080;
           border-top: 1px solid #667080;
}

//footer

#footer{-webkit-box-shadow: 0 5px 0 #888; 
         min-height: 111px;} 

#close_nav{width:100%;
          height: 20px;
          padding: 0;
          margin: 0;
          text-align:center;
          background-color:#efefef;
}

#open_nav{width:100%;
          height:20px;
          min-height: 20px;
          padding-top: 2px;
          margin: 0;
          text-align: center;
          background-color:#efefef;
}

#close_nav:hover{background-color: darken(#efefef, 10%)}

#open_nav:hover{background-color: darken(#efefef, 10%)}




